In [1]:
from selenium import webdriver
import pandas as pd
from bs4 import BeautifulSoup
import urllib.request as req
import pandas as pd
import requests
from io import StringIO
import requests
import time
from selenium.webdriver import Chrome
from pdfminer.converter import TextConverter
from pdfminer.layout import LAParams
from pdfminer.pdfdocument import PDFDocument
from pdfminer.pdfinterp import PDFResourceManager, PDFPageInterpreter
from pdfminer.pdfpage import PDFPage
from pdfminer.pdfparser import PDFParser
import os
from naver_crawler import *
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
import time
import re
import parser
from datetime import datetime
from urllib.request import urlopen
import webbrowser

In [2]:
os.getcwd()
os.chdir('C:\\Users\\shic\\Documents\\GitHub\\Crawling\\Desktop\\Project\\1_Data')

In [4]:
files = os.listdir(os.getcwd())
for i in files :
    print(i)

DIVIDEND_RANK_2008_2020.csv
KIND_TODAY_POST_5DAY.csv
KOREA_CREDIT_1.csv
KOREA_CREDIT_1_2.csv
KOREA_CREDIT_2.csv
KOREA_CREDIT_2_2.csv
KOREA_CREDIT_3.csv
KOREA_CREDIT_3_2.csv
KOREA_CREDIT_4.csv
KOREA_CREDIT_4_2.csv
KOREA_CREDIT_5.csv
KOREA_CREDIT_5_2.csv
KOREA_CREDIT_6.csv
KOREA_CREDIT_6_2.csv
KOREA_CREDIT_7.csv
KOREA_CREDIT_7_2.csv
KOREA_CREDIT_8.csv
KOREA_CREDIT_8_2.csv
KOREA_VENTURE_FUND_STATUS.csv
KOREA_VENTURE_FUND_TYPE.csv
naver_finance_economy_list_summary.csv
naver_finance_industry_summary.csv
naver_finance_invest_list_summary.csv
naver_finance_market_full.csv
naver_finance_market_summary.csv
naver_finance_stock_summary.csv
seibro_dividend_rank_2020.csv
YOUTUBE_ECO_3PRO.csv
youtube_eco_3pro_2.csv
youtube_eco_3pro_5.csv
youtube_eco_3pro_6.csv
youtube_eco_3pro_66rows.csv
youtube_eco_3pro_7.csv
youtube_eco_3pro_8.csv
YOUTUBE_ECO_ALL_.csv
YOUTUBE_ECO_FULL.csv
youtube_eco_hankyung.csv
YOUTUBE_ECO_HANKYUNG_.csv
youtube_eco_hankyung_2.csv
youtube_eco_hankyung_3.csv
youtube_eco_hankyung_4.csv
youtube_eco_hankyung_8.csv
YOUTUBE_ECO_HANKYUNG_FULL.csv
youtube_eco_kimdante.csv
YOUTUBE_ECO_KIMDANTE_.csv
youtube_eco_kimzakka.csv
YOUTUBE_ECO_KIMZAKKA_.csv
youtube_eco_kimzakka_1.csv
YOUTUBE_ECO_KKAKDOKI.csv
youtube_eco_kkakdoki_1.csv
youtube_eco_kkakdoki_2.csv
youtube_eco_shinsa.csv
YOUTUBE_ECO_SHINSAIMDANG.csv
youtube_eco_shinsa_3.csv
youtube_eco_shinsa_4.csv
youtube_eco_shinsa_5.csv
youtube_eco_shinsa_6.csv
youtube_eco_shinsa_7.csv
youtube_eco_shinsa_8.csv
youtube_eco_shuka.csv
YOUTUBE_ECO_SHUKAWORLD.csv
youtube_popular_64rows_0715.csv

## CREDIT

In [12]:
CREDIT_lst =[]
for i in range(1,9):
    CREDIT1 = pd.read_csv('KOREA_CREDIT_{}.csv'.format(i),dtype=str)
    CREDIT11 = pd.read_csv('KOREA_CREDIT_{}_2.csv'.format(i),dtype=str)
    print(CREDIT1.shape, CREDIT11.shape)
    CREDIT_lst.append(pd.concat([CREDIT1,CREDIT11],axis=0).drop_duplicates())

(11620, 11) (34, 11)
(299, 9) (0, 9)
(114, 10) (0, 10)
(119, 11) (0, 11)
(25, 11) (0, 11)
(5216, 11) (5, 11)
(420, 12) (0, 12)
(16, 12) (0, 12)

In [20]:
11620+299

11919

In [19]:
pd.concat([CREDIT_lst[0],CREDIT_lst[1]],axis=0).shape

(11927, 13)

In [56]:
CREDIT_lst[0].columns

Index(['회사명', '채권종류', '회차', '발행액(억원)', '만기일', '평가종류', '직전등급', '현재등급', '평가일',
       '리포트', 'Type'],
      dtype='object')

In [57]:
DF_KOREA = pd.concat([CREDIT_lst[0],CREDIT_lst[1],CREDIT_lst[2],CREDIT_lst[3],CREDIT_lst[4],CREDIT_lst[5],CREDIT_lst[6],CREDIT_lst[7]],axis=0)
DF_KOREA.shape

(17830, 25)

In [64]:
DF_KOREA

,Type,회사명,채권종류,회차,발행액(억원),만기일,평가종류,직전등급,현재등급,평가일,...,현재Outlook,기준통화,종류,시리즈,유형,공여기관,한도액(억원),약정만료일,프로그램,발행일
0,회사채,모트렉스,PP,7(P-CBO),80.0,NaN,본,NaN,BB-,2021.07.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,회사채,모트렉스,PP,7(P-CBO),80.0,NaN,본,NaN,안정적,2021.07.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,회사채,산은캐피탈,SB,671,NaN,NaN,본,NaN,AA-,2021.07.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,회사채,산은캐피탈,SB,671,NaN,NaN,본,NaN,안정적,2021.07.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,회사채,우리금융캐피탈,SB,422,NaN,NaN,본,NaN,AA-,2021.07.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,Covered Bond,국민은행,NaN,2019-5,1500,2024.09.03,본,NaN,AAA,2019.09.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-5,2019.09.03
12,Covered Bond,국민은행,NaN,2019-4-2,2000,2026.08.14,본,NaN,AAA,2019.08.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-4-1/2019-4-2,2019.08.14
13,Covered Bond,국민은행,NaN,2019-3,4000,2024.07.23,본,NaN,AAA,2019.07.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-3,2019.07.23
14,Covered Bond,국민은행,NaN,2019-2,4000,2024.06.25,본,NaN,AAA,2019.06.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-2,2019.06.25
15,Covered Bond,국민은행,NaN,2019-1-2,1000,2026.05.14,본,NaN,AAA,2019.05.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-1-1/2019-1-2,2019.05.14

In [65]:
DF_KOREA.to_csv('KOREA_CREDIT_ALL.csv',index=False)

In [66]:
os.getcwd()

'C:\\Users\\shic\\Documents\\GitHub\\Crawling\\Desktop\\Project\\1_Data'

## NICE

In [37]:
NICE_lst =[]
for i in range(1,8):
    NICE1 = pd.read_csv('NICE_CREDIT_{}.csv'.format(i),dtype=str)
    print(NICE1.shape)
    NICE_lst.append(NICE1.drop_duplicates())

(20065, 15)
(7526, 12)
(1774, 13)
(6535, 13)
(249, 13)
(22, 14)
(153965, 13)

In [38]:
NICE_lst[6]['Type']='자산유동화 증권'

<ipython-input-38-33d4bdd11000>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NICE_lst[6]['Type']='자산유동화 증권'

In [40]:
NICE_lst[6].Type

0         자산유동화 증권
1         자산유동화 증권
2         자산유동화 증권
3         자산유동화 증권
4         자산유동화 증권
            ...
153960    자산유동화 증권
153961    자산유동화 증권
153962    자산유동화 증권
153963    자산유동화 증권
153964    자산유동화 증권
Name: Type, Length: 153891, dtype: object

In [41]:
print(NICE_lst[0].columns)
print(NICE_lst[1].columns)
print(NICE_lst[2].columns)
print(NICE_lst[3].columns)
print(NICE_lst[4].columns)
print(NICE_lst[5].columns)
print(NICE_lst[6].columns)

Index(['기업명', '회차', '종류', '평정', '직전등급', '직전전망', '현재등급', '현재전망', '등급결정일',
       '등급확정일', '발행액(억원)', '요지', '재무', '보고서', 'Type'],
      dtype='object')
Index(['기업명', '평정', '직전등급', '현재등급', '등급결정일', '등급확정일', '결산기준', '유효기간', '요지',
       '재무', '보고서', 'Type'],
      dtype='object')
Index(['기업명', '평정', '직전등급', '현재등급', '등급결정일', '등급확정일', '결산기준', '발행한도(억원)',
       '유효기간', '요지', '재무', '보고서', 'Type'],
      dtype='object')
Index(['기업명', '평정', '직전등급', '직전전망', '현재등급', '현재전망', '등급결정일', '등급확정일', '유효기간',
       '요지', '재무', '보고서', 'Type'],
      dtype='object')
Index(['기업명', '평정', '직전등급', '직전전망', '현재등급', '현재전망', '등급결정일', '등급확정일', '유효기간',
       '요지', '재무', '보고서', 'Type'],
      dtype='object')
Index(['회사명', '회차', '종류', '평정', '직전등급', '현재등급', '등급결정일', '등급확정일', '발행일', '만기일',
       '발행액(억원)', '요지', '보고서', 'Type'],
      dtype='object')
Index(['유동화회사명', '회차', '종류', '평정', '직전등급', '현재등급', '등급결정일', '등급확정일', '발행일',
       '만기일', '발행액(억원)', '요지', '보고서', 'Type'],
      dtype='object')

In [42]:
pd.concat([NICE_lst[0],NICE_lst[1],NICE_lst[2],NICE_lst[3],NICE_lst[4],NICE_lst[5],NICE_lst[6]],axis=0).shape

(190057, 22)

In [43]:
pd.concat([NICE_lst[0],NICE_lst[1],NICE_lst[2],NICE_lst[3],NICE_lst[4],NICE_lst[5],NICE_lst[6]],axis=0).Type.value_counts()

자산유동화 증권     153891
채권            20060
기업어음           7526
기업신용평가         6535
전자단기사채         1774
보험금지급능력평가       249
커버드본드            22
Name: Type, dtype: int64

In [44]:
DF_NICE = pd.concat([NICE_lst[0],NICE_lst[1],NICE_lst[2],NICE_lst[3],NICE_lst[4],NICE_lst[5],NICE_lst[6]],axis=0)

In [45]:
DF_NICE.shape

(190057, 22)

In [52]:
DF_NICE.to_csv('NICE_CREDIT_ALL.csv',index=False)

In [53]:
os.getcwd()

'C:\\Users\\shic\\Documents\\GitHub\\Crawling\\Desktop\\Project\\1_Data'

# Venture

In [70]:
VEN1=pd.read_csv('KOREA_VENTURE_FUND_TYPE.csv')
VEN1.shape

(8, 2)

In [69]:
VEN2=pd.read_csv('KOREA_VENTURE_FUND_STATUS.csv')
VEN2.shape

(620, 7)

In [71]:
VEN1

   펀드별 코드                 펀드명
0      11              한국모태펀드
1      12          산업기술사업화모펀드
2      13         해외 VC 글로벌펀드
3      14            한국전력 모펀드
4      15              엔젤 모펀드
5      16  KEB하나-KVIC 유니콘 모펀드
6      21            엔젤투자매칭펀드
7      22             일자리매칭펀드

In [72]:
VEN2

,년도,출자분야,운용사,조합명,만기일,금액,약정액
0,2019,LP지분유동화,포스코기술투자㈜,피씨씨-우리 LP지분 유동화 펀드,2027-12-31,26000.0,10000.0
1,2019,미세먼지해결,㈜이앤인베스트먼트,2019모태이앤클린에어펀드,2027-12-29,21500.0,15000.0
2,2019,대학창업,숭실대학교기술지주,숭실대 SUJI 제1호 개인투자조합,2026-12-22,1700.0,1225.0
3,2019,디지털콘텐츠 해외진출,이에스인베스터,이에스6호디지털콘텐츠글로벌펀드,2026-12-22,15000.0,10500.0
4,2019,특허기술사업화,퀀텀벤처스코리아,퀀텀5G특화4차산업고급기술펀드,2027-11-27,49700.0,2800.0
...,...,...,...,...,...,...,...
615,2007,특허기술사업화,우리인베스트먼트,보스톤특허기술사업화전문투자조합,2013-03-31,10000.0,4000.0
616,2006,해외진출,엠벤처투자,아시아퍼시픽벤처투자조합B,2014-09-28,28341.0,11346.6
617,2006,문화산업,미시간벤처캐피탈,미시간글로벌컨텐츠투자조합,2014-06-24,10000.0,3000.0
618,2006,문화산업,우리인베스트먼트,보스톤영상콘텐츠전문투자조합,2013-12-27,18700.0,5100.0
619,2005,바이오,인터베스트,인터베스트바이오전문투자조합(한국모태펀드05-01),2012-10-20,28000.0,6000.0